.body{
    width: 1600px;
    height: 7335px;
    align-items: center;
    /* font-family: 'Merriweather', serif; */
    font-family: 'IBM Plex Sans', sans-serif;
} 


.banner1{
    margin: 0px auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./images/Banner\ Image.png);
}
.banner1-title{
    /* margin-top: 200px; */
    color: white;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
}
.banner1-subtitle{
    padding-top: 150px;
    color: white;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.bann1-text-sec{
    margin-top: 10px;
    height: 250px;
}
.banner2{
    margin: 50px auto;
    width: 802.9px;
    height: 806px;
    text-align: center;
}
.banner2-title{
    margin-bottom: 40px;
    color: red;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}
.b2-subtitle1{
    color: #F00;
    text-align: center;   
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.b2-subtitle2{
    margin-top: -5px;
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.banner3{
    margin: 20px auto;
    padding: 0px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./images/Vectorrr.png);
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
}   
.bann3-text-sec{
    margin: 70px;
    padding: 100px;
    padding-top: 10px;
    color: white;
    width: 550px;
    height: 300px;
    text-align: left;
    
    
}
.bann3-title{
    margin: 25px;
    width: 642px;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
}
.bann3-desc{
    margin: 25px;
}
.bann3-desc > button{
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: 16px;
    font-weight: 700;
}
.bann3-img{
    padding-right: 150px ;
    width: 319.83px;
    height: 464.662px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner4{
    margin: 100px auto;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    line-height: 55px;
}
.bann4-text-sec{
    width: 549px;
    height: 168px;
    padding: 100px 386px 140px 385px;
    font-size: 32px;
    font-weight: 500;
}
.bann4-btn{;
    color: white;
    width: 167px;
    height: 56px;
    background-color: #F00;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
}
.courtesy{
    color: #F00;
}
.banner5{
    margin: 100px auto;
    padding: 20px;
    height: 482px;
    width: 1320px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;
}
.bann5-1{
    width: 400px;
}
.bann5-desc{
    color: gray;
    word-spacing: 5px ;
    line-height: 1.5;
}
.bann5-title{
    color: black;
    font-size: 40px;
}
/* .bann5-subtle{
    color: #F00;
    font-size: 50px;
} */
.bann5-2{
    align-items: center;
    /* width: 420px; */
    border: 25px solid white;
    border-radius: 50%;
    outline: 15px solid red;
    
}
.bann5-3{
    width: 250px;

}
.bann5-text-sec{
    margin: 30px;
}
.bann5-text-sec>h4{
    color: red;
    font-size: 20px;
}
.bann5-tile2{
    color: red;
    font-size: 50px;
    font-weight: bold;
}
.bann5-desc2{
    margin: -25px 0px 40px 0px;
    color: gray;
    word-spacing: 5px;
    line-height: 1.5;
}
/* .banner6{
    width: 1320px;
    height: 986.07px;
    box-sizing: border-box;
    position: relative;
}

.fifty-disc{
    width: 206.841px;
    height: 206.841px;
}



.gift-box{
    
} */
.banner7{
    margin: 100px auto;
    font-family: Merriweather;
    margin: 100px auto;
    width: 1320px;
    height: 1163px;
} 
.bann7-title{
     font-size: 40px;
     font-weight: bolder;
}
.bann7-subtitle{
    font-size: 25px;
    color: red;
}
.bann7-desc{
    color: gray;
    word-spacing: 5px;
    line-height: 1.5;
}
.bann7-text-sec{
    text-align: left;
    width: 840px;
    margin-bottom: 50px;
}
.img-row>img{
    margin: 5px 5px ;
}
.banner8{
    margin: 100px auto;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    align-items: center;
    
}
.email-input{
    width: 200px;
    height: 20px;
    background-color: red;
    margin: 0px;
    padding: 0px;
    display: flex;
    position: relative;
    
}
.email{
    border-style: none;
}
.subscribe{
    margin-left: -10px;
    border-color: red;
    border-style: none;
}

.footer{
    margin-top: 100px auto;
    width: 1320px;
    height: 609px;
    background-color: black;
}