.body{
    font-family: 'Merriweather', serif;
} 
.main{
    width: 1600px;
    height: 7335px;
    align-items: center;
    /*   */
}
.banner1{
    margin: 50px 140px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./images/Banner\ Image.png);
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}
.banner1-subtitle, .banner1-title{
    color: white;
}
.banner3{
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./images/Vectorrr.png);

    display: flex;
}   
.bann3-title, .bann3-desc{
    color: white;
}

.banner4{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
.banner5{
    height: 482px;
    width: 1320px;
    text-wrap: wrap;
    display: flex ;
}
/* .banner6{
    width: 1320px;
    height: 986.07px;
    box-sizing: border-box;
    position: relative;
}

.fifty-disc{
    width: 206.841px;
    height: 206.841px;
}



.gift-box{
    
} */
.banner7{
    width: 1320px;
    height: 1163px;
} 
.banner8{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.email-input{
    width: 200px;
    height: 20px;
    background-color: red;
    margin: 0px;
    padding: 0px;
    display: flex;
    position: relative;
    
}
.email{
    border-style: none;
}
.subscribe{
    margin-left: -10px;
    border-color: red;
    border-style: none;
}